@charset "UTF-8";

@font-face {
	font-family: 'f1-bold';
	src: url('https://www.formula1.com/etc/designs/fom-website/fonts/F1Bold/Formula1-Bold.woff2') format('woff2');
}

* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'f1-bold', sans-serif;
    /* background-size: cover; */
    background: url(https://images.hgmsites.net/hug/2025-red-bull-racing-rb21-f1-race-car_100956874_h.jpg)no-repeat left top;
    background-size: cover;
}

.head {
    display: flex;
    background-color: #ffffff;
    text-align: center;
    padding: 4px 10px;
    border-radius: 20px;
    margin: 10px;
    filter: drop-shadow(0 0 15px rgb(0, 0, 0));
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
    height: 70px;
}

.logo {
    width: 100px;
}

.left {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 20px;
}


.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 100px;
}

.content ul {
    display: flex;
    list-style: none;
    padding: 1px;
    gap: 50px;
    justify-content: space-between;

}

.content li {
    display: flex;
    padding: 10px 10px;
    color: rgb(255, 0, 0);
    font-weight: bold;
    justify-content: space-between;
    font-size: 16px;
    
}

.content a {
    display: flex;
    text-decoration: none;
}

.search {
    display: flex;
}

.search input {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #ff0000;
    width: 300px;
    background-color: rgb(255, 255, 255);
}

.search input:focus {
    outline: none;
    border-color: #000000;
}
.search button {
    padding: 6px 20px;
    border-radius: 10px;
    border: none;
    background-color: #ff0000;
    color: white;
    cursor: pointer;
    gap: 10px;
    margin-left: 10px;
    justify-content: center;
    text-align: center;
}

.search button:hover {
    background-color: #000000;
}
.search button:active {
    background-color: #ffffff;
} 

/* PAGINA CENTRAL */

.main {
    display: flex;
    margin: auto;
    padding: 100px;
}

.texts {
    display: flex;
    position: absolute;
    flex-direction: column;
    
}

.texts h1 {
    font-size: 50px;
    color: #ffffff;
    margin: 0px 20px;
    font-weight: bold;
}

.texts a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    background-color: #ff0000;
    padding: 15px 40px;
    border-radius: 50px 5px 50px 5px;
    margin: 20px;
    text-align: center;
    filter: drop-shadow(0 0 15px rgb(0, 0, 0));
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
}

.cards {
    display: flex;

}

.ferrari {
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    color: #ff0000;
    margin-top: 125px;
    text-align: center;
    border-radius: 20px;
    filter: drop-shadow(0 0 15px rgb(0, 0, 0));
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
}

.ferrari a {
    text-decoration: none;
    color: #ff0000; 
    font-size: 200px;
    font-weight: bold;
    padding: 15px 40px;
    margin: 20px;
    text-align: center;
}

.ferrari h2 {
    font-size: 30px;
    color: #ff0000;
    margin: 15px 20px;
    font-weight: bold;
}

.ferrari img {
    width: 300px;
    height: 180px;
}

.mercedes {
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    color: #ff0000;
    margin-top: 125px;
    border-radius: 20px;
    text-align: center;
    filter: drop-shadow(0 0 15px rgb(0, 0, 0));
    box-shadow: 1px 1px 15px rgb(0, 0, 0);
}

.mercedes a {
    text-decoration: none;
    color: #ff0000; 
    font-size: 200px;
    font-weight: bold;
    padding: 15px 40px;
    margin: 20px;
    text-align: center;
}

.mercedes h2 {
    font-size: 30px;
    color: #ff0000;
    margin: 15px 20px;
    font-weight: bold;
}

.mercedes img {
    width: 300px;
    height: 180px;
}

.redbull {
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    color: #ff0000;
    margin-top: 125px;
    border-radius: 20px;
    text-align: center;
    filter: drop-shadow(0 0 15px rgb(0, 0, 0));
    box-shadow: 1px 1px 15px rgb(0, 0, 0)
}

.redbull a {
    text-decoration: none;
    color: #ff0000; 
    font-size: 200px;
    font-weight: bold;
    padding: 15px 40px;
    margin: 20px;
    text-align: center;
}

.redbull h2 {
    font-size: 30px;
    color: #ff0000;
    margin: 15px 20px;
    font-weight: bold;
}

.redbull img {
    width: 300px;
    height: 180px;
}

.ferrari button {
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid #ff0000;
    width: 100px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: bold;
    margin-top: 4px;
}

.mercedes button {
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid #ff0000;
    width: 100px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: bold;
    margin-top: 4px;
}

.redbull button {
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid #ff0000;
    width: 100px;
    background-color: rgb(255, 0, 0);
    color: white;
    font-weight: bold;
    margin-top: 4px;
}